* {
  box-sizing: border-box;
}

/* Base */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  margin-left: -8px;
  margin-top: -8px;
  padding: 4px;
  padding-left: 10px;
  height: 59px;
  width: 1920px;
  background-color: #0066cb;
  text-align: left;
  font-size: 30px;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.6); /* this adds the "card" effect */
}

.logo-img {
  width: 51px;
  height: auto;
  vertical-align: middle;
}

.title {
  color: white;
}

/* Right most colum for notifications */
.notificationscolumn {
  float: right;
  width: 460px;
  height: 861px;
  padding-top: 10px;
  display: inline-table;
}

.notificationscard {
  height: 861px;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #c9c9c9;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
  height: 290px;
  width: 1428px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33.3%;
  height: 100%;
  padding: 0 10px;
  padding-top: 10px;
}

/* Style the counter cards */
.card {
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
  padding: 16px;
  height: 100%;
  text-align: center;
  background-color: #f1f1f1;
}

.icon {
  height: 100%;
  width: 90px;
  white-space: nowrap;
  float: left;
  padding-right: 20px;
  border-right: 1px solid rgba(77, 77, 77, 0.521);
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.device-img {
  /* background: #3A6F9A; */
  vertical-align: middle;
  /* max-height: 25px; */
  max-width: 100%;
}

h1 {
  margin-bottom: 20px;
  margin-top: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  height: 22px;
  font-size: 14pt;
}

.normal_text {
  font-size: 14pt;
}

.slider_text {
  font-size: 12pt;
  font-weight: bold;
}

.slider_whitespace {
  font-size: 0pt;
}

.status_disconnected {
  color: red;
}

.status_lost {
  color: orange;
}

.status_connected {
  color: green;
  font-weight: bold;
}

.device-status {
  /* vertical-align: top; */
  width: 200px;
  /* align-content: left; */
  /* display: inline-block; */
  text-align: left;
  float: left;
  margin-left: 10px;
}
.device-values {
  /* vertical-align: top; */
  width: 119px;
  /* align-content: left; */
  /* display: inline-block; */
  text-align: right;
  float: left;
  /* margin-left: 10px; */
}

.dimmerslider {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 11px;
  width: 100%;
}

/* Responsive columns - one column layout (vertical) on small screens
@media screen and (max-width: 600px) {
  .column {
    width: 80%;
    display: block;
    margin-bottom: 20px;
  }

  .notificationscolumn {
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  width: 44px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

/* input:focus + .slider {
  box-shadow: 0 0 10px #2196F3;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 11px;
}

.slider.round:before {
  border-radius: 50%;
} 

